@use "fonts.scss";
@use "variables.scss";
@use "mixins.scss";
//@use "visually-hidden.scss";

.advantages {
  width: 320px;
}

.advantages__list {
  @include mixins.start();
  display: flex;
  flex-direction: column;
  list-style: none;
}

@media (min-width: variables.$tablet-width) {
  .advantages {
    width: 768px;
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: variables.$desktop-width) {
  .advantages {
    width: 1200px;
  }
}
