@use "fonts.scss";
@use "variables.scss";
@use "mixins.scss";
//@use "visually-hidden.scss";

.advantage {
  display: flex;
  flex-direction: column;
}

.advantage--color-basic {
  color: variables.$base-color;
  background-color: variables.$add-color;
}

.advantage--color-additional {
  color: variables.$add-textcolor;
  background-color: variables.$alt-color;
}

.advantage__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 284px;
  min-height: 117px;
  margin: 73px auto 40px;
  text-align: center;
}

.advantage__wrapper--alt {
  margin-top: 10px;
}

.advantage__title {
  @include mixins.start();
  @include mixins.font700();
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantage__title--alternative {
  color: variables.$base-textcolor;
}

.advantage__number {
  @include mixins.start();
  text-transform: uppercase;
}

.advantage__description {
  @include mixins.start();
  text-transform: uppercase;
}

.advantage__wrap--tablet {
  display: none;
}

.advantage__wrap--desktop {
  display: none;
}

.advantage__wrap {
  display: block;
}

.advantage__image {
  display: block;
  background-size: cover;
  width: 320px;
}

.advantage__sublist {
  @include mixins.start();
  list-style: none;
  background-color: variables.$base-color;
}

.advantage__subitem {
  color: variables.$add-textcolor;
  background-color: variables.$base-color;
}

@media (min-width: variables.$tablet-width) {
  .advantage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantage__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 194px;
    height: 172px;
    margin: 40px 31px 44px 31px;
  }

  .advantage__title {
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
  }

  .advantage__image {
    width: 512px;
  }

  .advantage__image--position-number {
    order: -1;
  }

  .advantage__sublist {
    display: flex;
    flex-wrap: wrap;
  }

  .advantage__wrap {
    display: none;
  }

  .advantage__wrap--desktop {
    display: none;
  }

  .advantage__wrap--tablet {
    display: block;
  }
}

@media (min-width: variables.$desktop-width) {
  .advantage__wrapper {
    width: 318px;
    height: 172px;
    margin: 40px 41px 44px 41px;
  }

  .advantage__wrap {
    display: none;
  }

  .advantage__wrap--tablet {
    display: none;
  }

  .advantage__wrap--desktop {
    display: block;
  }

  .advantage__image {
    width: 800px;
  }

  .advantage__image--position-number {
    order: -1;
  }
}
