@use "fonts.scss";
@use "variables.scss";
@use "mixins.scss";
//@use "visually-hidden.scss";

.button {
  @include mixins.start();
  @include mixins.font700();
  display: block;
  text-align: center;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  color: variables.$base-color;
  background-color: variables.$add-color;
}
