@use "fonts.scss";
@use "variables.scss";
@use "mixins.scss";
//@use "visually-hidden.scss";

.form-rewiew {
  @include mixins.start();
}

.form-rewiew__introduce {
  @include mixins.start();
  border: 0;
  border-style: none;
  border-bottom: 1px rgba(229, 229, 229, 1) solid;
}

.form-rewiew__title {
  @include mixins.start();
  @include mixins.font700();
  text-align: center;
  padding-top: 24px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.form-rewiew__list {
  @include mixins.start();
  list-style: none;
}

.form-rewiew__item-description {
  display: block;
  padding-left: 16px;
}

.form-rewiew__input {
  @include mixins.start();
  @include mixins.font700();
  font-size: 14px;
  width: 280px;
  height: 58px;
  padding: 16px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 0;
  background-color: rgba(242, 242, 242, 1);
}

.form-rewiew__input--alt {
  width: 222px;
}

.form-rewiew__contacts {
  @include mixins.start();
  border: 0;
  border-style: none;
  border-bottom: 1px rgba(229, 229, 229, 1) solid;
}

.form-rewiew__svg-container {
  position: absolute;
  width: 58px;
  height: 58px;
  background-image: url("../img/icon-phone..svg");
  background-color: rgba(230, 230, 230, 1);
  background-repeat: no-repeat;
  background-position: center;
}

.form-rewiew__svg-container--alt {
  background-image: url("../img/icon-mail.svg");
}

.form-rewiew__impression {
  @include mixins.start();
  border: 0;
  border-style: none;
  border-bottom: 1px rgba(229, 229, 229, 1) solid;
}

.form-rewiew__item--alternative-markup {
  @include mixins.font700();
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 16px;
}

.form-rewiew__item-label--alt {
  display: flex;
  align-items: center;
}

.form-rewiew__input--radio {
  @include mixins.start();
  width: 46px;
  height: 46px;
}

.form-rewiew__item-description--alternative {
  display: block;
}

.form-rewiew__attractions {
  @include mixins.start();
  border: 0;
  border-style: none;
  border-bottom: 1px rgba(229, 229, 229, 1) solid;
}

.form-rewiew__input--checkbox {
  @include mixins.start();
  width: 46px;
  height: 46px;
}

.form-rewiew__emotions {
  @include mixins.start();
  border: 0;
  border-style: none;
}

.form-rewiew__input-rewiew {
  @include mixins.start();
  box-sizing: border-box;
  width: 279px;
  height: 150px;
  background-color: rgba(242, 242, 242, 1);
  padding: 16px;
  margin-bottom: 56px;
}

.form-rewiew__button {
  display: block;
  box-sizing: border-box;
  width: 281px;
  height: 58px;
  padding: 18px 0 14px;
}

.form-rewiew__warning {
  @include mixins.start();
  width: 138px;
  margin-left: auto;
  padding-bottom: 23px;
  color: rgba(51, 51, 51, 0.6);
}

@media (min-width: variables.$tablet-width) {
  .form-rewiew {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form-rewiew__introduce {
    border-right: 1px solid rgba(219, 219, 219, 1);
    border-bottom: none;
  }

  .form-rewiew__contacts {
    border-bottom: none;
    margin-left: 44px;
  }

  .form-rewiew__impression {
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom: none;
  }

  .form-rewiew__impression .form-rewiew__list {
    display: flex;
    flex-wrap: wrap;
  }

  .form-rewiew__impression .form-rewiew__item {
    width: 324px;
  }

  .form-rewiew__input--radio {
    margin-left: 36px;
  }

  .form-rewiew__attractions {
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom: none;
  }

  .form-rewiew__attractions .form-rewiew__list {
    display: flex;
    flex-wrap: wrap;
  }

  .form-rewiew__attractions .form-rewiew__item {
    width: 324px;
  }

  .form-rewiew__input--checkbox {
    margin-left: 84px;
  }

  .form-rewiew__emotions {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom: none;
    margin-bottom: 64px;
  }

  .form-rewiew__input-rewiew {
    width: 648px;
    height: 160px;
    margin-bottom: 48px;
  }

  .form-rewiew__button {
    width: 324px;
  }

  .form-rewiew__warning {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 138px;
    margin-left: 0;
    padding-bottom: 14px;
    color: rgba(51, 51, 51, 0.6);
  }
}

@media (min-width: variables.$desktop-width) {
  .form-rewiew__input {
    width: 430px;
    margin-right: 62px;
  }

  .form-rewiew__input--alt {
    width: 344px;
    margin-right: 0;
  }

  .form-rewiew__input--radio {
    width: 46px;
    margin-right: 0;
    margin-left: 0;
  }

  .form-rewiew__input--checkbox {
    width: 46px;
    margin-right: 0;
    margin-left: 0;
  }

  .form-rewiew__contacts {
    margin-left: 64px;
  }

  .form-rewiew__impression .form-rewiew__item {
    width: 310px;
    margin-right: 0;
  }

  .form-rewiew__attractions .form-rewiew__item {
    width: 240px;
  }

  .form-rewiew__input-rewiew {
    margin: 0 96px 48px;
    width: 768px;
  }

  .form-rewiew__button {
    width: 384px;
    margin-left: 96px;
  }

  .form-rewiew__warning {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 138px;
    margin-right: 100px;
    margin-left: 0;
    padding-bottom: 14px;
    color: rgba(51, 51, 51, 0.6);
  }
}
