@use "fonts.scss";
@use "variables.scss";
@use "mixins.scss";
//@use "visually-hidden.scss";

.hashtag {
  min-height: 98px;
}

.hashtag__description {
  @include mixins.start();
  @include mixins.font700();
  display: block;
  margin-top: 29px;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
