@use "fonts.scss";
@use "variables.scss";
@use "mixins.scss";
@use "visually-hidden.scss";

.main-index {
  display: flex;
  flex-direction: column;
}

.main-index__main-logo-wrapper {
  padding-top: 90px;
  padding-bottom: 85px;
}

.main-index__search-hotel {
  padding: 40px 18px 45px;
}

@media (min-width: variables.$tablet-width) {
  .main-index__main-logo-wrapper {
    padding-top: 77px;
    padding-bottom: 91px;
  }

  .main-index__search-hotel {
    padding: 61px 18px 58px;
  }
}

@media (min-width: variables.$desktop-width) {
  .main-index__main-logo-wrapper {
    padding-top: 78px;
    padding-bottom: 90px;
  }

  .main-index__search-hotel {
    padding: 61px 18px 66px;
  }
}
