@use "fonts.scss";
@use "variables.scss";
@use "mixins.scss";
@use "visually-hidden.scss";

.main__catalog {
  display: flex;
  flex-direction: column;
}

.main-catalog__main-logo-wrapper {
  padding-top: 52px;
  padding-bottom: 67px;
}

.main-catalog__introduction {
  margin-bottom: 35px;
}

.main-catalog__video {
  padding: 0 20px;
}

@media (min-width: variables.$tablet-width) {
  .main-catalog__main-logo-wrapper {
    padding-top: 95px;
    padding-bottom: 117px;
  }

  .main-catalog__photo {
    box-sizing: border-box;
    padding: 0 60px 0;
  }

  .main-catalog__video {
    padding: 0 60px;
  }
}

@media (min-width: variables.$desktop-width) {
  .main-catalog__main-logo-wrapper {
    padding-top: 101px;
    padding-bottom: 122px;
  }

  .main-catalog__photo {
    padding: 0;
  }

  .main-catalog__video {
    padding: 0 200px;
  }
}
