@use "fonts.scss";
@use "variables.scss";
@use "mixins.scss";
@use "visually-hidden.scss";

.main__catalog {
  display: flex;
  flex-direction: column;
}

.main-catalog__main-logo-wrapper {
  padding-top: 52px;
  padding-bottom: 67px;
}

.main-catalog__introduction {
  margin-bottom: 45px;
}

.main-catalog__video {
  padding: 0 20px;
}
