@use "fonts.scss";
@use "variables.scss";
@use "mixins.scss";
@use "visually-hidden.scss";

.main-navigation {
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.main-navigation__button-close {
  @include mixins.start();
  position: absolute;
  top: 17px;
  right: 16px;
  border: 0;
  background-color: variables.$add-color;
  cursor: pointer;
}

.main-navigation__button-close--closed {
  display: none;  //при нажатии на меню убирает класс
}

.main-navigation__close-menu {
  fill: rgba(255, 255, 255, 1);
}

.main-navigation__close-menu:hover {
  fill: rgba(255, 255, 255, 0.6);
}

.main-navigation__close-menu:focus {
  fill: rgba(255, 255, 255, 0.6);
}

.main-navigation__close-menu:disabled {
  fill: rgba(255, 255, 255, 0.3);
}

.main-navigation__list {
  @include mixins.start();
  display: flex;
  flex-direction: column;
  list-style: none;
}

.main-navigation__item {
  background-color: variables.$add-color;
}

.main-navigation__link {
  @include mixins.font700();
  display: block;
  text-decoration: none;
  padding-top: 17px;
  padding-bottom: 12px;
  color: variables.$base-color;
  background-color: variables.$add-color;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

@media (min-width: variables.$tablet-width) {
  .main-navigation__list {
    flex-direction: row;
  }

  .main-navigation__item {
    background-color: variables.$base-color;
    min-width: 153px;
  }

  .main-navigation__link {
    display: block;
    padding-top: 18px;
    padding-bottom: 17px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 14px;
    line-height: 21px;
    color: variables.$base-textcolor;
    background-color: variables.$base-color;
  }

  .main-navigation__item:nth-child(2) {
    margin-right: 156px;
  }
}

@media (min-width: variables.$desktop-width) {
  .main-navigation__item {
    min-width: 240px;
  }

  .main-navigation__item:nth-child(2) {
    margin-right: 240px;
  }
}
