@use "fonts.scss";
@use "variables.scss";
@use "mixins.scss";
// @use "visually-hidden.scss";

.main-logo-wrapper {
  background-image: url("../img/welcomesedona-back.jpg");
  background-size: cover;
  background-color: #426a96;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/welcomesedona-back@2x.jpg");
  }
}

.main-logo-wrapper::after {
  background-image: url("..img/mask2.svg");
  background-repeat: no-repeat;
  background-position: center bottom; //хммм чет не видно
}


.main-logo-wrapper--alternative {
  background-position: bottom;
}

.main-logo-wrapper__sedona-logo {
  display: block;
  margin: 0 auto;
}

@media (min-width: variables.$tablet-width) {
  @media (min-resolution: 2dppx) {
    .main-logo-wrapper {
      background-image: url("../img/welcomesedona-back-desktop@2x.jpg");
    }
  }

  .main-logo-wrapper {
    background-image: url("../img/welcomesedona-back-desktop.jpg");
  }

  .main-logo-wrapper__sedona-logo {
    width: 461px;
    height: 350px;
  }

  .main-logo-wrapper__sedona-logo--alt {
    width: 457;
    height: 78px;
  }
}

@media (min-width: variables.$desktop-width) {
  .main-logo-wrapper__sedona-logo {
    width: 461px;
    height: 350px;
  }

  .main-logo-wrapper__sedona-logo--alt {
    width: 457;
    height: 78px;
  }
}
