@use "fonts.scss";
@use "variables.scss";
@use "mixins.scss";
@use "visually-hidden.scss";

.photo {
  width: 320px;
}

.photo__list {
  @include mixins.start();
  list-style: none;
}

.photo__item {
  padding: 24px 20px 30px;
  border-bottom: 1px rgba(229, 229, 229, 1) solid;
}

.photo__item:first-child {
  border-top: 1px rgba(229, 229, 229, 1) solid;
}

@media (min-width: variables.$tablet-width) {
  .photo {
    width: variables.$tablet-width;
  }

  .photo__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .photo__item {
    @include mixins.start();
    border: none;
  }

  .photo__item:first-child {
    border-top: none;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (min-width: variables.$desktop-width) {
  .photo {
    width: variables.$desktop-width;
  }

  .photo__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .photo__item:first-child {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
