@use "fonts.scss";
@use "variables.scss";
@use "mixins.scss";
@use "visually-hidden.scss";

.photo {
  width: 320px;
}

.photo__list {
  @include mixins.start();
  list-style: none;
}

.photo__item {
  padding: 24px 20px 30px;
  border-bottom: 1px rgba(229, 229, 229, 1) solid;
}

.photo__item:first-child {
  border-top: 1px rgba(229, 229, 229, 1) solid;
}
