@use "fonts.scss";
@use "variables.scss";
@use "mixins.scss";
//@use "visually-hidden.scss";

.search-hotel {
  text-align: center;
}

.search-hotel__question {
  @include mixins.start();
  @include mixins.font700();
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.search-hotel__description {
  @include mixins.start();
  text-transform: uppercase;
  margin-bottom: 32px;
}

.search-hotel__link {
  display: block;
  width: 284px;
  height: 58px;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  margin: auto;
  padding-top: 16px;
  font-size: 21px;
  line-height: 26px;
  color: variables.$base-color;
  background-color: variables.$add-color;
}

.search-hotel__wrap--tablet {
  display: none;
}

.search-hotel__wrap--desktop {
  display: none;
}

.search-hotel__wrap {
  display: block;
}

@media (min-width: variables.$tablet-width) {
  .search-hotel__question {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 29px;
  }

  .search-hotel__description {
    margin-bottom: 41px;
  }

  .search-hotel__link {
    width: 458px;
    padding-top: 15px;
  }

  .search-hotel__wrap--desktop {
    display: none;
  }

  .search-hotel__wrap {
    display: none;
  }

  .search-hotel__wrap--tablet {
    display: block;
  }
}

@media (min-width: variables.$desktop-width) {
  .search-hotel__description {
    margin-bottom: 46px;
  }

  .search-hotel__wrap {
    display: none;
  }

  .search-hotel__wrap--tablet {
    display: none;
  }

  .search-hotel__wrap--desktop {
    display: block;
  }
}
