@use "fonts.scss";
@use "variables.scss";
@use "mixins.scss";
@use "visually-hidden.scss";

.video {
  text-align: center;
}

.video__question {
  @include mixins.font700();
  @include mixins.start();
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  margin-top: 17px;
  margin-bottom: 22px;
}

.video__description {
  @include mixins.start();
  text-transform: uppercase;
  line-height: 26px;
  font-size: 21px;
  margin-bottom: 37px;
}

.video__wrap {
  display: none;
}

.video__wrap--tablet {
  display: none;
}

.video__wrap--desktop {
  display: none;
}

.video__wrap--mobile {
  display: block;
}

.video__image-container {
  width: 280px;
  height: 177px;
  background-image: url("../img/play-video.svg"), url("../img/video.jpg");
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-position: center;
  line-height: 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/play-video.svg"), url("../img/video@2x.jpg");
  }
}

@media (min-width: variables.$tablet-width) {
  .video__question {
    font-size: 30px;
    margin-top: 58px;
    margin-bottom: 30px;
  }

  .video__description {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 66px;
  }

  .video__wrap {
    display: none;
  }

  .video__wrap--desktop {
    display: none;
  }

  .video__wrap--mobile {
    display: none;
  }

  .video__wrap--tablet {
    display: block;
  }

  .video__image-container {
    width: 648px;
    height: 500px;
    margin-bottom: 54px;
    background-image: url("../img/play-video.svg"), url("../img/video-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/play-video.svg"), url("../img/video-tablet@2x.jpg");
    }
  }
}

@media (min-width: variables.$desktop-width) {
  .video__question {
    font-size: 30px;
    margin-top: 58px;
    margin-bottom: 30px;
  }

  .video__description {
    margin-bottom: 84px;
  }

  .video__wrap {
    display: none;
  }

  .video__wrap--mobile {
    display: none;
  }

  .video__wrap--tablet {
    display: none;
  }

  .video__wrap--desktop {
    display: none;
  }

  .video__image-container {
    width: 800px;
    height: 500px;
    margin-bottom: 80px;
    background-image: url("../img/play-video.svg"), url("../img/video-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/play-video.svg"), url("../img/video-desktop@2x.jpg");
    }
  }
}
