@use "fonts.scss";
@use "variables.scss";
@use "mixins.scss";
//@use "visually-hidden.scss";

.website-developer {
  min-height: 97px;
}

.website-developer__link {
  position: relative;
  display: block;
  text-decoration: none;
  color: variables.$base-textcolor;
}

.website-developer__description {
  @include mixins.start();
  margin-left: 94px;
  margin-top: 40px;
  padding-top: 7px;
  text-transform: uppercase;
}

.website-developer__svg {
  position: absolute;
  right: 95px;
  top: 0;
}

@media (min-width: variables.$tablet-width) {
  .website-developer {
    min-height: 35px;
  }

  .website-developer__description {
    margin-left: 0;
    margin-right: 83px;
    margin-top: 0;
    padding-top: 7px;
  }

  .website-developer__svg {
    position: absolute;
    right: 43px;
    top: 0;
  }
}

@media (min-width: variables.$desktop-width) {
  .website-developer__description {
    margin-right: 156px;
  }

  .website-developer__svg {
    right: 120px;
  }
}
